body, html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: url(https://images.unsplash.com/photo-1598620617148-c9e8ddee6711?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  font-family: 'Cookie', cursive;
  color: rgba(51, 153, 255,.75);
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  vertical-align: text-bottom;
  padding-top: 50px;
}

li {
  font-family: cursive;
}

#first {
  font-family: 'Cookie', cursive;
  color: rgba(0, 115, 230,1);
  font-size: 2em;
  text-decoration: underline;
}

.container {
  margin-left: 15%;
}

.coolTitle {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 40px;
    transform: skewY(-10deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: tomato;
    text-shadow: 
      -1px -1px 0 firebrick,
      -2px -2px 0 firebrick,
      -3px -3px 0 firebrick,
      -4px -4px 0 firebrick,
      -5px -5px 0 firebrick,
      -6px -6px 0 firebrick,
      -7px -7px 0 firebrick,
      -8px -8px 0 firebrick,
      -30px 20px 40px dimgrey;
  }
  
  .done {
    text-decoration: line-through;
  }
